Data structures in python

List

In [ ]:
#creating a list
numbers = [1,2,3,4,5]
mixed = [1,"hello",3.14]
print(numbers)
print(mixed)

[1, 2, 3, 4, 5]
[1, 'hello', 3.14]

In [ ]:
#list operations
#accessing items
print(numbers[0])
print(numbers[-1])

1
5

In [ ]:
#modifying items
numbers[0] = 10
print(numbers)

[10, 2, 3, 4, 5]

In [ ]:
#adding items
#appends()
numbers.append(6)
print(numbers)

[10, 2, 3, 4, 5, 6, 6]

In [ ]:
#insert()
numbers.insert(1,15)
print(numbers)

[10, 15, 2, 3, 4, 5, 6, 6]

In [ ]:
#removing items
#remove()
numbers.remove(2)
print(numbers)

[10, 15, 3, 4, 5, 6, 6]

In [ ]:
#pop()
numbers.pop(2)
print(numbers)

[10, 15, 4, 5, 6, 6]

In [ ]:
#len()
len(numbers)
print(numbers)

[10, 15, 4, 5, 6, 6]

In [ ]:
#sort()
numbers.sort()
print(numbers)

[4, 5, 6, 6, 10, 15]

In [ ]:
#reverse()
list.reverse(numbers)
print(numbers)

[15, 10, 6, 6, 5, 4]

In [ ]:
#iteratig through a list
for num in numbers:
  print(num)

15
10
6
6
5
4

Tuples

In [ ]:
#creating a tuple
coordinates = (10,20,30)
print(coordinates)

(10, 20, 30)

In [ ]:
#accessing items in a tuple
print(coordinates[0])

10

Dictionaries

In [ ]:
#creating a dictionary
student = {
    "name": "Alice",
    "age": 20,
    "marks":85}
print(student)

{'name': 'Alice', 'age': 20, 'marks': 85}

In [ ]:
#accessing and modifying
#accessing
student = {
    "name": "Alice",
    "age": 20,
    "marks":85}
print(student["name"])

Alice

In [ ]:
#modifying
student = {
    "name": "Alice",
    "age": 20,
    "marks":85}
student["age"] = 21
print(student)

{'name': 'Alice', 'age': 21, 'marks': 85}

In [ ]:
#adding
student = {
    "name": "Alice",
    "age": 20,
    "marks":85}
student["grade"] = "A"
print(student)

{'name': 'Alice', 'age': 20, 'marks': 85, 'grade': 'A'}

In [ ]:
#removing
student = {
    "name": "Alice",
    "age": 20,
    "marks":85}
del student["age"]
print(student)

{'name': 'Alice', 'marks': 85}

In [ ]:
#iterating through a dictionary
student = {
    "name": "Alice",
    "age": 20,
    "marks":85}
for key, value in student.items():
  print(key, value)

name Alice
age 20
marks 85

Sets

In [ ]:
#creating a set
numbers = {1,2,3,4,5}
print(numbers)

{1, 2, 3, 4, 5}

In [ ]:
#set operations
#adding items
numbers = {1,2,3,4,5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
#removing items
numbers = {1,2,3,4,5}
numbers.remove(3)
print(numbers)

{1, 2, 4, 5}

Hands on practice

In [ ]:
#manipulating lists
fruits=["apple","banana","cherry"]
fruits.append("orange")
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'orange']

In [ ]:
#creating a dictionary
book={
  "title":"python basics",
  "author":"john doe",
  "year":2021
}
print(book["title"])
book["year"]=2022
print(book)

python basics
{'title': 'python basics', 'author': 'john doe', 'year': 2022}

In [ ]:
#working with sets
set1={1,2,3,4}
set2={3,4,5,6}
print("union:",set1|set2)
print("intersection:",set1 & set2)
print("difference:",set1 - set2)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}

In [ ]:
#merge two lines
list1=[1,2,3]
list2=[4,5,6]
merged_list=list1+list2
print("merged_list:",merged_list)

merged_list: [1, 2, 3, 4, 5, 6]

In [ ]:
#dictionary operations
student={"name":"john","age":21,"grade":85}
student["marks"]=90
print("updated marks:",student["marks"])

updated marks: 90

In [ ]:
#find the maximum and minimum in a list
numbers=[10,20,30,40,50]
print("maximum:",max(numbers))
print("minimum:",min(numbers))

maximum: 50
minimum: 10

In [ ]:
#count frequency of elements in a list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}
for num in numbers:
    frequency[num] = frequency.get(num,0)+1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
#sort a list of tuples by the second element
tuples=[("a",5),("b",2),("c",8)]
sorted_tuples=sorted(tuples,key=lambda x:x[1])
print(sorted_tuples)

[('b', 2), ('a', 5), ('c', 8)]

In [ ]:
#palindrome or not
number=int(input("enter a number: "))
reverse_number=0
temp=number

while temp>0:
           digit=temp%10
           reverse_number=reverse_number*10+digit
           temp=temp//10

if number==reverse_number:
    print(f" {number} is palindrome")
else:
    print(f" {number} is not palindrome")

enter a number: 555
 555 is palindrome

In [ ]:
#palindrome or not
number=input("enter a number: ")
if str(number)==str(number)[::-1]:
    print("palindrome")
else:
    print("not palindrome")

enter a number: bob
palindrome