CONTROL FLOW AND LOOPS

 1.CONDITIONAL STATEMENTS

  if statement

In [ ]:
age = 18
if age >=18:
    print("you are eligible to vote.")

you are eligible to vote.

if-else statement

In [ ]:
num = int(input("enter a number: "))
if num % 2 == 0:
    print("the number is even")
else:
    print("the number is odd")

enter a number: 4
the number is even

if-elif-else statements

In [ ]:
marks = int(input("enter your marks: "))
if marks >=90:
    print("your grade is A")
elif marks >=80:
    print("your grade is B")
elif marks >70:
    print("your grade is C")
else:
    print("your grade is D")

enter your marks: 90
your grade is A

LOOPS

1.for loop

In [ ]:
for i in range(5):
    print("iteration:", i)

iteration: 0
iteration: 1
iteration: 2
iteration: 3
iteration: 4

In [ ]:
for i in range(5,10):
    print("iteration:", i)

iteration: 5
iteration: 6
iteration: 7
iteration: 8
iteration: 9

In [ ]:
for i in range(5,50,5):
    print("iteration:", i)

iteration: 5
iteration: 10
iteration: 15
iteration: 20
iteration: 25
iteration: 30
iteration: 35
iteration: 40
iteration: 45

2.while loop

In [ ]:
count=0
while count<5:
    print("count:", count)
    count +=1

count: 0
count: 1
count: 2
count: 3
count: 4

CONTROL FLOW TOOLS

1.break

In [ ]:
#break
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
#pass
for i in range(10):
  if i == 5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

1.Number is even or odd

In [ ]:
number=int(input("enter a number:"))
if number % 2 == 0:
    print("the number is even.")
else:
    print("the number is odd.")

enter a number:5
the number is odd.

2.Sum of numbers in a given range

In [ ]:
start=int(input("enter the starting of the range:"))
end=int(input("enter the ending of the range:"))
sum=0
for i in range(start, end + 1):
    sum += i
print("the sum is:", sum)

enter the starting of the range:5
enter the ending of the range:10
the sum is: 45

3.Program to find factorial number

In [ ]:
number=int(input("enter a number:"))
factoril=1
for i in range(1,number+1):
    factoril *= i
print("the factorial is:", factoril)

enter a number:4
the factorial is: 24

4.Fibonacci sequence

In [ ]:
n=int(input("enter the number of terms:"))
a,b=0,1
for _ in range(n):
   print(a, end="")
   a,b=b,a+b

enter the number of terms:10
0112358132134

5.Simple calculator using if-else

In [4]:
num1=float(input("enter the first number:"))
num2=float(input("enter the second number:"))
operation=input("enter the operation(+,-,*,/,//,%,**):")
if operation == '+':
    print("Result:", num1 + num2)
elif operation == '-':
    print("Result:", num1 - num2)
elif operation == '*':
    print("Result:", num1* num2)
elif operation == '/':
    print("Result:", num1 / num2)
elif operation == '//':
    print("Result:", num1 // num2)
elif operation == '%':
    print("Result:", num1 % num2)
elif operation == '**':
    print("Result:", num1 ** num2)
else:
    print("Invalid operation")

enter the first number:6
enter the second number:9
enter the operation(+,-,*,/,//,%,**):+
Result: 15.0

6.Check leap year

In [5]:
year=int(input("enter a year: "))
if(year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
    print("leap year")
else:
    print("not a leap year")

enter a year: 2024
leap year

7.Find the largest of three numbers

In [6]:
num1=float(input("enter the first number: "))
num2=float(input("enter the second number: "))
num3=float(input("enter the third number: "))
if num1 >=num2 and num1 >=num3:
    print("the largest number is:", num1)
elif num2 >=num3:
    print("the largest number is:", num2)
else:
    print("the largest number is:", num3)

enter the first number: 5
enter the second number: 10
enter the third number: 15
the largest number is: 15.0

8.Positive or Negative or Zero

In [2]:
a = int(input("enter a number: "))
if a > 0:
    print("the number is positive")
elif a < 0:
    print("the number is negative")
else:
    print("the number is zero")

enter a number: 5
the number is positive

9.Sum of all even numbers in a range

In [9]:
start=int(input("enter the starting of the range: "))
end=int(input("enter the ending of the range: "))
even_sum=0
for num in range(start, end + 1):
  if num % 2 == 0:
    even_sum += num
  print("sum of even numbers:",even_sum)

enter the starting of the range: 40
enter the ending of the range: 50
sum of even numbers: 40
sum of even numbers: 40
sum of even numbers: 82
sum of even numbers: 82
sum of even numbers: 126
sum of even numbers: 126
sum of even numbers: 172
sum of even numbers: 172
sum of even numbers: 220
sum of even numbers: 220
sum of even numbers: 270