1.Write a python program to check if a number is divisible by both 2 and 3.

In [1]:
number = int(input("Enter a number: "))
if number % 2 == 0 and number % 3 == 0:
    print(number, "is divisible by both 2 and 3.")
else:
    print(number, "is not divisible by both 2 and 3.")

Enter a number: 6
6 is divisible by both 2 and 3.

2.Write a python program this print "Hello" if a number is greater than 10, otherwise print "Goodbye".

In [3]:
number = int(input("Enter a number: "))
if number > 10:
    print("Hello")
else:
    print("Goodbye")

Enter a number: 15
Hello

3.Write a python program to find out if a number is divisible by 5 but not    by 10.

In [7]:
number = int(input("enter a number:"))
if number % 5 ==0 and number % 10 !=0:
    print(f"{number} is divisible by 5 but not by 10.")
else:
    print(f"{number} does not meet the condition.")

enter a number:20
20 does not meet the condition.

4.Write a program to find whether a number is between 100 and 200.(inclusive)

In [9]:
number = int(input("enter a number: "))
if number >= 100 and number <=200:
  print(f"{number} is between 100 and 200 inclusive.")
else:
  print(f"{number} is not between 100 and 200 inclusive." )

enter a number: 150
150 is between 100 and 200 inclusive.

5.Write a program to find whether a number is between 50 and 100.(exclusive)

In [11]:
number = int(input("enter a number: "))
if number > 50 and number <100:
  print(f"{number} is between 50 and 100 exclusive.")
else:
    print(f"{number} is not between 50 and 100 exclusive." )

enter a number: 20
20 is not between 50 and 100 exclusive.

6.Write a python program to print a message if a number is greater than 100 but less than 500.

In [12]:
number = int(input("enter a number: "))
if number > 100 and number <500:
  print(f"{number} is greater than 100 but less than 500.")
else:
    print(f"{number} is not greater than 100 but less than 500.")

enter a number: 250
250 is greater than 100 but less than 500.

7.Write a python program to print all numbers from 1 to 10 using a loop.

In [13]:
for number in range (1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

8.Write a python to print the first 10 even numbers using a for loop.

In [16]:
number = int(input("enter a number: "))
for number in range (1,21):
  if number % 2 == 0:
    print(number)

enter a number: 2
2
4
6
8
10
12
14
16
18
20

9.write a python program to sum all numbers from 1 to 100 using a for loop.

In [17]:
total = 0
for number in range (1,101):
  total += number
print("The sum of numbers from 1 to 100 is:", total)

The sum of numbers from 1 to 100 is: 5050

10.Write a python program to print the multiplication table of 7 using a for loop.

In [18]:
for i  in range (1,11):
  print("7 x",i,"=",7*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

11.Write a python program to reverse a string using a while loop.

In [20]:
string = input("enter a string: ")
reversed_string = ""
index = len(string) - 1
while index >= 0:
  reversed_string += string[index]
  index -= 1
print("The reversed string is:", reversed_string)

enter a string: "MIBAH_HARMAIN"
The reversed string is: "NIAMRAH_HABIM"

12.Write a python program to print all odd numbers from 1 to 20 using a while loop.

In [23]:
number = 1
while number <= 20:
    print(number)
    number += 2

1
3
5
7
9
11
13
15
17
19

13.Write a python program to count the number of times a specific character appers in a string using a loop.

In [2]:
string = input("enter a string: ")
char_to_count = input("enter a character: ")
count = 0
for char in string:
  if char == char_to_count:
    count += 1
print(f"The character '{char_to_count}' appears {count} times in the string.")

enter a string: "MISBAH_HARMAIN"
enter a character: I
The character 'I' appears 2 times in the string.

14.Write a python program to print a pattern of stars (loop)

In [3]:
rows = int(input("enter the number of rows for the pattern: "))
for i in range (1,rows+1):
  print("*" * i)

enter the number of rows for the pattern: 7
*
**
***
****
*****
******
*******

15.Write a python program to print the sum of all even numbers from 1 to 50 using a for loop.

In [5]:
total_sum = 0
for number in range (2, 51, 2):
  total_sum += number
print("The sum of even numbers from 1 to 50 is:", total_sum)

The sum of even numbers from 1 to 50 is: 650